@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: Outfit;
}
.active hr{
  @apply block
}
@media (max-width:740px) {
  .active p{
    @apply bg-primary text-white
  }
  
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;

  }
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #000;
  }
}
